
#header{
    background-color:rgb(26, 24, 24);
    font-size: 80px;
    font-family: 'Bungee Inline';
    color: #55B4B0;
    border: 3px solid greenyellow;
    height: 200px;
    width:100%;

    text-align: center;
}

form {
    border: 3px solid greenyellow;
    background-color:#55B4B0;
    display:flex;
    flex-flow: row wrap;  
    justify-content: center;
    align-content: center;    
}

#nav {
    font-size: 20px;
    font-family: 'Acme';
    border: 3px solid greenyellow;
    height: 600px;
    width:25%;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
    align-content: center;
} 

#reset-button{
    height:50px;
    width: 200px;
    border-style: groove;
    border-radius: 15px;
    background-color:#8f9897 ;
    font-size: 22px;
    font-family: 'Acme';
}
#main {
    font-size: 20px;
    font-family: 'Acme';
    border: 3px solid greenyellow;
    height: 600px;
    width:48%;
    display:flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    flex-flow: row wrap; 
}

#aside {
    font-size: 20px;
    font-family: 'Acme';
    border: 3px solid greenyellow;
    height: 600px;
    width:25%;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: flex-end;
}


#footer {
    font-size: 20px;
    font-family: 'Acme';
    border: 3px solid greenyellow;
    height: 200px;
    width:100%;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: flex-end;
}

.game-board{

} 


.tower-item{
    border: 2px solid yellow;
    background-color:#e2ddd9;
    height: 300px;
    width:10px;
    border-radius: 15px;
    border-style:inset;
 
}

.hanoi-towers{
    /* border: 3px solid blue; */
    padding: 10;
    position:relative;
    top: 40px;
    left: 10px;
    height: 350px;
    width:80%; 
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items:center;
    align-self: center;
    align-content:center;
    flex-direction:  row;
}
 #disks-towers{
    /* border: 4px solid purple; */
    margin: 0 auto;
    
    display: flex;
    flex-flow: column wrap;

} 

#div-disks{
   border: 4px solid white;
   width:95%;
   height: 100px;

   position: relative;
   top:342px; 

   display:flex;
   flex-direction: row;
   justify-content: center;
   align-content:center;
   align-items:center;
}
 .disks{
    border: 2px solid green;
    height: 80px;
    width:30%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center; /*modify when moving disks between rods */
}
.disk-item{
    position: relative;
    height: 10px;
    background-color: #666;
    border-radius: 75px / 5px;

}
#towers{
    /* border: 4px solid pink; */
    width: 700px;
    display:flex;
    justify-content: space-around;

}
#base{
    /* border: 3px solid red; */
    height: 50px;
    width:100%;
    

    display:flex;
    flex-direction: column;
    align-content: center;  
    align-items:center;
}
.base-item{
    background-color:#8B4513;
    height: 4px;
    width:95%;
    border-radius: 1px; 
    border-style:inset;  
    border-color: grey;

}



#disk1{
    width: 50px;

}
#disk2{
    width: 60px;

}
#disk3{
    width: 70px;

}
#disk4{
    width: 80px;

}