
#header{
    background-color:rgb(26, 24, 24);
    font-size: 80px;
    font-family: 'Bungee Inline';
    color: #55B4B0;
    border: 3px solid greenyellow;
    height: 200px;
    width:100%;

    text-align: center;
}

form {
    border: 3px solid greenyellow;
    background-color:#55B4B0;
    display:flex;
    flex-flow: row wrap;  
    justify-content: center;
    align-content: center;    
}
#nav {
    font-size: 20px;
    font-family: 'Acme';
    border: 3px solid greenyellow;
    height: 600px;
    width:25%;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
} 

#main {
    border: 3px solid greenyellow;
    font-size: 20px;
    font-family: 'Acme';
    
    height: 600px;
    width:48%;
    display:flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-content: flex-start;

}

.hanoi-towers{
    /* border: 3px solid blue;  */

    left: 10px;
    height: 350px;
    width:80%; 
    display:flex;
    flex-flow: row wrap;
    align-items:flex-start;
    justify-content: flex-start;
    align-content:center; 
}
 #disks-towers{
    /* border: 4px solid purple; */
    margin: 0 auto;
    
    display: flex;
    flex-flow: column wrap;

} 
#towers{
    /* border: 4px solid pink;  */
    width: 600px;
    position: relative;
    top:120px; 
    display:flex;
    justify-content: space-around;
    align-self: center;

}

.tower-item{
    /* border: 2px solid yellow; */
    background-color:#e2ddd9;
    height: 250px;
    width:11px;
    border-radius: 15px;
    border-style:groove;
 
}
#div-disks{
   /* border: 4px solid white; */
   width:100%;
   height: 100px;

   position: relative;
   top:42px; 

   display:flex;
   flex-direction: row;
   justify-content: space-around;
   align-content:center;
   align-items:center;
}
 .disks{
    /* border: 2px solid green; */
    height: 80px;
    width:27%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center; /*modify when moving disks between rods */
}
.disk-item{
    position: relative;
    height: 20px;
    border-radius: 190px / 15px;

}


#base{
    /* border: 3px solid red; */
    height: 50px;
    width:100%;
    
    display:flex;
    flex-direction: column;
    align-content: center;  
    align-items:center;
}
.base-item{
    background-color:#8B4513;
    height: 4px;
    width:95%;
    border-radius: 1px; 
    border-style:inset;  
    border-color: grey;

}
#disk1{
    width: 30px;
    background-color:red;
    position: relative;
    left: 60px;
}
#disk2{
    width: 70px;
    background-color:yellow;
    position: relative;
    left: 40px;

}
#disk3{
    width: 110px;
    background-color:blue;
    position: relative;
    left: 20px;

}
#disk4{
    width: 150px;
    background-color:purple;

}

#reset-button{
    height:50px;
    width: 200px;
    border-style: groove;
    border-radius: 15px;
    background-color:#8f9897 ;
    font-size: 22px;
    font-family: 'Acme';
}

#aside {
    font-size: 20px;
    font-family: 'Acme';
    border: 3px solid greenyellow;
    height: 600px;
    width:25%;
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
    align-self: center;
    align-content:center;
}

.game-board{

} 
#instructions{
    font-size: 13px;
    font-family: 'Montserrat';
    display: flex;
    align-content: flex-start;

}

#footer {
    font-size: 20px;
    font-family: 'Montserrat';
    border: 3px solid greenyellow;
    height: 200px;
    width:100%;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: flex-end;
}